/*
    Author: Miguel Jaramillo
*/

.sidebar {
    min-height: 555px;
}

.my-logo-small{
    width: 50px !important;
}

.my-logo-medium {
    width: 60px !important;
}

.my-logo-large {
    width: 150px !important;
}

.no-style {
    list-style: none;
}

.image-preview {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
}