@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-shadow {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-weight: bold;
}

.background-image{
    background-image: url('../images/banner-pro.jpeg') ;
    background-size: cover;
    background-position: center center;
}

.pagina-principal p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.travel-button{
    width: max-content;

}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

.background-user{
    background: #4D8EA5;
}

.custom-height-300 {
    height: 300px;
}

.my-form-control{
    height: 120px !important;
}

.my-logo-small{
    width: 50px !important;
}

.my-logo-medium {
    width: 60px !important;
}

.my-logo-large {
    width: 150px !important;
}

.img-edit {
    max-width: 100%;
    height: auto;
}

.text-truncate {
    margin: 0;
    white-space: normal;
    text-overflow: clip;
    overflow-wrap: break-word;
    max-height: 4.5rem;
}

.no-margin{
    margin: 0;
}

.see-more{
    text-decoration: underline;
    color: #0b5ed7;
}

.see-more:hover{
    cursor: pointer;
}

.d-none {
    display: none;
}
